body {
  margin: 0px;
  font-family: 'Roboto Condensed', sans-serif;
}

.banner {
  display: flex;
  width: 100vw;
  height: 60vh;
}

.vip {
  position:absolute;
  top: 25px;
  left: -25px;
  transform: rotate(-45deg);
  background-color: blue;
  color: white;
  width: 120px;
  text-align: center;
  font-weight: bold;
}

.offer-text {
  margin: auto;
  color: white;
  font-size: 2em;
  text-align: center;
}

.submission {
  height: 30%;
  width: 100vw;
  display: flex;
}

.email {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content:center;
  align-items: center;
  background-color: #fedec9;
}

.email input {
  font-size: 1.5em;
  color: #56002f;
  font-family: 'Roboto Condensed', sans-serif;
}

.email-text {
  margin: 20px 0px 10px 0px;
}

.email-submit {
  background-color: #ff915c;
  margin: 10px 0px 20px 0px;
  padding: 2px 30px 2px 30px;
  border-radius: 50px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  height: 10%;
  justify-content: center;
  align-items: center;
}

.submitted {
  margin: 10px auto 10px auto;
  padding: 2px 2px 2px 2px;
  background-color: #ff915c;
  max-width: 320px;
  min-width: 320px;
  color: #56002f;
  font-size: 1.5em;
  text-align: center;
}

.waiting {
  font-size: 1.2em;
  font-style: italic;
  margin: 10px 10px 5px 10px;
  text-align: center;
}
